.nodes g circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.call-link {
  fill: none;
  stroke: #666;
  stroke-width: 2.5px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.call-link {
  cursor: pointer;
}

path.call-link.selected {
  stroke-dasharray: 10, 2;
}

path.call-link.dragline {
  pointer-events: none;
}

path.call-link.hidden {
  stroke-width: 0;
}

.servicelink {
  fill: none;
  stroke: #666;
  stroke-width: 2.5px;
}

